//Poppins Regular
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//Poppins Bold
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
//Poppins Medium
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
//Poppins SemiBold
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');